<main>
<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents">
      <img src="/static/img/culinaria.jpg" height="130" width="300px">
      <h2 class="slider__caption">Curso de Culinária</h2>
      <p class="slider__txt"></p>
    </div>
    <div class="slider__contents">
      <img src="/static/img/trico.jpg" height="130" width="300px">
      <h2 class="slider__caption">Curso de Trico</h2>
      <p class="slider__txt"></p>
    </div>
    <div class="slider__contents">
      <img src="/static/img/curso_ingles2.jpg" height="130" width="300px">
      <h2 class="slider__caption">Curso de Inglês</h2>
      <p class="slider__txt"></p>
    </div>
    <div class="slider__contents">
      <img src="/static/img/aws2.png" height="130" width="300px">
      <h2 class="slider__caption">Curso AWS</h2>
      <p class="slider__txt"></p>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46156385-1', 'cssscript.com');
  ga('send', 'pageview');

</script>
</main>
