<main>
  <main>
    <span class="d-block p-2 bg-dark text-info">> Welcome {{user.name}}</span>
    <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/perfil">  <button type="button" class="btn btn-secondary">Perfil</button></a>
    <a href="/adCurso">  <button type="button" class="btn btn-secondary">Adicionar Curso</button></a>
    <a href="profCursos">  <button type="button" class="btn btn-secondary">Editar/Remover Curso</button></a>
    <a href="/duvidas">  <button type="button" class="btn btn-secondary">Dúvidas</button></a>
    </div>
<form class="" action="index.html" method="post">

    <img id="img_curso" src="/static/img/culinaria.jpg"><br>
<div class="curso_infos">
    <table>
      <tr>
        <td><label for="type">Tipo: </label>
        <input type="text" name="" value=""><br></td>
        <td>  <label for="price">Preço: </label>
          <input type="text" name="" value=""><br></td>
      </tr>
      <tr>
        <td>
            <label for="description">Descrição: </label>
              <input type="text" name="" value=""><br>
          </td>
        <td><label for="hours">Horas: </label>
        <input type="text" name="" value=""><br></td>
      </tr>
      <tr>
        <td><label for="name">Nome: </label>
        <input type="text" name="" value=""><br></td>
        <td><label for="id">ID do curso: </label>
        <input type="text" name="" value=""><br></td>
      </tr>
      <tr>
        <td><label for="aulas">Aulas: </label>
        <p id="aulas"></p><br></td>
        <td><label for="teacher">Ministrado por: </label>
        <input type="text" name="" value=""> <br>
      </td>
      </tr>
    </table>
    <div id="btns_curso_info">
      <button type="submit" class="round-black-btn" id="editInfos" style="float:left;">Atualizar Informações</button>
        <button class="round-black-btn" id="cancel" style="float:right;">Cancelar</button>
    </div>
</div>

</form>
</main>
